.TarjetaBlog{
      font-style: italic;
      background-color: #ffffff;
      border-radius: 2.5%;

    .picture{
        text-align: center;
    } 
    .title{
        text-align: left;
        color: black;
        font-style: normal;
        padding-left: 5%;
        
    }
    .body{  
      text-align: left;
     color: rgb(133, 131, 131);
     font-style: normal;
     line-height: 200%;
     padding: 5%;
    }
}
