.create-user{
    width: 100%;

    .nav-create-user{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;
    }

    .panel-box{ 
        
        .prime-input-container{

            label{
                color: black;
            }
    
        }

        .btn{
            width: 100%;
        }

    } 

     
}