$white: #FFFFFF;
$whiteHover: #f6f6f6;
$white-50: rgba(255, 255, 255, 0.5);

$black: #000000;

$gray:#F6F6F6;
$grayBorder: #E0E0E0;
$grayText: #8A8484;

$main: #8236E6;
$mainHover: #6d31bb;
$main-50: rgba(130, 54, 230, 0.5);
$main-15: rgba(130, 54, 230, 0.15);

$red: #FF0000;
