//GLOBALS
@import 'global/colors';
@import 'global/fonts';
@import 'global/botons';

//PRIME COMPONENTS
@import 'prime/data-table';
@import 'prime/input-text';
@import 'prime/multi-select';

//LAYOUTS
@import 'layout/dashboard';

//NAVIGATION
@import 'components/navigation/menu';
@import 'components/navigation/header';

//DASHBOARD COMPONENTS
@import 'components/panel-box';
@import 'components/blog/blog-card';

//ICONS
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

//VIEWS
@import 'views/users';
@import 'views/crearUser';
@import 'views/blog/create';
@import 'views/blog/blogs';
@import 'views/blog/categorias';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

li{
    list-style: none;
}


input, textarea{
    border: 1px solid transparent;
    outline: none;
    transition: 0.3s all ease;

    &:focus{
        box-shadow: 0 0 5px $main;
        border: 1px solid $main;
    }

}